{% extends "base/base.html" %}

 {% block title %}
   INDEX VIEW
 {% endblock title %}

 {% block content %}
 <br>
 <hr>
    <h1>Hola Mundo</h1>
    <button class="btn btn-outline-danger">Test</button>
    <br><hr>
    <button class="btn btn-outline-danger">Test</button>
 {% endblock content %}