{% extends "base/base.html" %}

{% block title %}
  CREATE NEW SELLER VIEW
{% endblock title %}

{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <br>
    <button type="submit" class="btn btn-outline-success form-control">Create Seller</button>
    <br>
    <a href="{% url 'core:list_seller' %}" class="btn btn-outline-warning form-control">Cancel</a>
  </form>

{% endblock content %}