{% extends "base/base.html" %}


{% block title %}
  LIST SELLER VIEW
{% endblock title %}

{% block content %}
  <table class="table table-striped table-hover table-responsive-lg">
    <thead>
        <th>ID</th>
        <th>SELLER NAME</th>
        <th>TIMESTAMP</th>
        <th>STATUS</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
    </thead>
    <tbody>
        {% for seller in sellers %}
          <tr>
            <td>{{ seller.id }}</td>
            <td>{{ seller.name }}</td>
            <td>{{ seller.timestamp }}</td>
            <td>{{ seller.status }}</td>
            <td><a href="{% url 'core:detail_seller' seller.id %}" class="btn btn-outline-info">Detail</a></td>
            <td><a href="" class="btn btn-outline-warning">Update</a></td>
            <td><a href="" class="btn btn-outline-danger">Delete</a></td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}